<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,2},{606,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,352}}</string>
                <key>sourceSize</key>
                <string>{606,352}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{371,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,389}}</string>
                <key>sourceSize</key>
                <string>{371,389}</string>
            </dict>
            <key>edition handhold-outsaid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,478}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{478,478}}</string>
                <key>sourceSize</key>
                <string>{498,540}</string>
            </dict>
            <key>editon-handhold-mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,2},{174,178}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,173},{174,178}}</string>
                <key>sourceSize</key>
                <string>{498,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{1639,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35fa05782073d3a15f65149562b406b5:5dff4fb34fc60fc31326076d881ad5bc:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
