<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{411,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,334}}</string>
                <key>sourceSize</key>
                <string>{411,334}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{411,330}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{411,330}}</string>
                <key>sourceSize</key>
                <string>{411,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>winlose.png</string>
            <key>size</key>
            <string>{415,670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d60ac8a5e410c653b745c6edd930f84:99fb35294eab63be5293bf0db7e2354c:d1cfa66788fb408d0775916d6c8574a8$</string>
            <key>textureFileName</key>
            <string>winlose.png</string>
        </dict>
    </dict>
</plist>
