<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newbie_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1137,621}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1137,621}}</string>
                <key>sourceSize</key>
                <string>{1137,621}</string>
            </dict>
            <key>newbie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{1137,618}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1137,618}}</string>
                <key>sourceSize</key>
                <string>{1137,618}</string>
            </dict>
            <key>newbie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1245},{1136,621}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,621}}</string>
                <key>sourceSize</key>
                <string>{1136,621}</string>
            </dict>
            <key>newbie_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1868},{116,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{116,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newbies.png</string>
            <key>size</key>
            <string>{1141,1986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1166356beb1edacf4be2fc86bda9a2f9:f3ba2e88e246681981267f0f3c405ffb:b30a51430fc3adb589a7e739be226fbd$</string>
            <key>textureFileName</key>
            <string>newbies.png</string>
        </dict>
    </dict>
</plist>
